<footer id="footer" class="footer position-relative">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">TalentForge</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Av. San Carlos, N°123</p>
          <p>Huancayo - Perú</p>
          <p class="mt-3"><strong>Teléfono:</strong> <span> +51 900 503 593</span></p>
          <p><strong>Email:</strong> <span> info&#64;talentforge.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Enlaces útiles</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre nosotros</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Servicios</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Términos de servicio</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Política de privacidad</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#">Gestión de talento</a></li>
          <li><a href="#">Desarrollo organizacional</a></li>
          <li><a href="#">Capacitación empresarial</a></li>
          <li><a href="#">Consultoría en gestión de recursos humanos</a></li>
          <li><a href="#">Selección y Reclutamiento de Personal</a></li>
          <li><a href="#">Gestión del cambio organizacional</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Nuestro boletín</h4>
        <p>Suscríbete a nuestro boletín y recibe mas información semanalmente</p>
        <form action="forms/newsletter.php" method="post" class="php-email-form">
          <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscríbete"></div>
          <div class="loading">Cargando</div>
          <div class="error-message"></div>
          <div class="sent-message">Su solicitud de suscripción ha sido enviada. ¡Gracias!</div>
        </form>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">TalentForge</strong><span>Todos los derechos reservados</span></p>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

</footer>