<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="/img/favicon.png" alt="">
        <h1 class="sitename">TalentForge</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="/about" routerLinkActive="active">Nosotros</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Servicios</a></li>
          <li class="dropdown"><a><span>Encuestas</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a routerLink="surveys/psychological">Psicológicas</a></li>
              <li><a routerLink="surveys/organizational">Organizacionales</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
          <li><a routerLink="/courses" routerLinkActive="active">Cursos</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" (click)="onLogout()">Llámanos</a>

      <a class="btn-getstarted btn-circle" data-bs-toggle="modal" data-bs-target="#loginModal">
        <i class="bi bi-person-fill"></i>
      </a>

    </div>
  </header>