<main id="main">
    <app-breadcrumbs />
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contacto</h2>
                <p>Trabajemos juntos</p>
            </div>

           <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Nuestra dirección</h3>
                                <p>Av. San Carlos, N°123. Huancayo - Perú</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                 <i class="bi bi-envelope"></i>
                                <h3>Escribenos</h3>
                                <p>info&#64;talentforge.com<br>contact&#64;talentforge.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bi bi-telephone"></i>
                                <h3>Llámanos</h3>
                                <p>+51 900 503 593<br>+51 991 264 878</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <app-lottie-animation animationPath="lottie/help-center.json" height="100%" />
                </div>

                <div class="col-lg-6">
                    <app-lottie-animation animationPath="lottie/email.json" height="70%"/>
                </div>
                <div class="col-lg-6">
                    <app-contact-form />
                </div>

            </div>

            <app-maps />
        </div>
    </section><!-- End Contact Section -->
</main>