<main id="main">

  <!-- ======= Title Section ======= -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Bienvenido</h6>
            <h2>¡Transforma tu Empresa con TalentForge!</h2>
            <h4>¡Bienvenido a TalentForge, tu socio en la transformación de la gestión de recursos humanos! Descubre
              cómo nuestros servicios pueden llevar a tu empresa al siguiente nivel.</h4>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <app-lottie-animation animationPath="lottie/launched.json" height="100%" />
        </div>
      </div>
    </div>
  </div>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>Consulta nuestros servicios</p>
      </div>

      <div class="row row-cols-1 row-cols-md-2">
        @for (item of services; track item) {
        <div class="col mb-4">

          <div class="card" data-aos="zoom-in" data-aos-delay="100">
            <div class="card__header">
              <app-lottie-animation animationPath="{{ item.animation }}" height="100%"></app-lottie-animation>
            </div>
            <div class="card__body">
              <h3 class="card__body__title">{{ item.name }}</h3>
              <h5 class="card__body__subtitle">{{ item.subtitle }}</h5>
  
              <p class="card__body__text">{{ item.description }}</p>
            </div>
            <div class="card__footer d-flex justify-content-center align-items-center">
              <button type="button" class="btn btn-outline-danger">Leer más</button>
            </div>
          </div>
    
        </div>
        }

      </div>

      <app-card-services/>

    </div>
  </section><!-- End Services Section -->


</main>