/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
    background-image: url(/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
    background-color: #2a2a2a;
  }
  
  .main-banner h6 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .main-banner h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
  }

  .main-banner h4 {
    color: #fff;
  }
  
  .main-banner p {
    margin-top: 20px;
  }
  
  .main-banner .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: start;
  }
  
  .main-banner .border-button {
    margin-right: 15px;
  }
  
  .main-banner .owl-banner {
    margin-top: -40px;
  }
  
  .main-banner .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: -76px;
    text-align: center;
  }
  
  .main-banner .owl-nav .owl-prev {
    margin-right: 7.5px;
  }
  
  .main-banner .owl-nav .owl-next {
    margin-left: 7.5px;
  }
  
  .main-banner .owl-nav .owl-prev span,
  .main-banner .owl-nav .owl-next span  {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 24px;
    display: inline-block;
    color: #7453fc;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
  }
  
  .main-banner .owl-nav .owl-prev span:hover,
  .main-banner .owl-nav .owl-next span:hover {
    opacity: 1;
  }
  


  .card {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #374151; /* bg-blue-gray-500 */
    background-clip: border-box;
    color: #4a5568; /* text-gray-700 */
    box-shadow: 0 10px 15px rgba(55, 65, 81, 0.4);
    background: linear-gradient(to right, #ffffff, #ffffff); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  
    &__header {
      position: relative;
      margin: 0 1rem;
      height: 15rem;
      margin-top: 1rem;
      overflow: hidden;
      border-radius: 1rem;
    }
  
    &__body {
      padding: 1.5rem;
      background-color: #ffffff;
  
      &__title {
        margin-bottom: 0.1rem;
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
        color: #1e293b; /* text-blue-gray-900 */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &__subtitle {
        margin-bottom: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.75;
        color: inherit; /* text-blue-gray-900 */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &__text {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  
    &__footer {
      padding: 2rem;
      padding-top: 0;

      button {
        width: 60%;
      }
    }
  }