<main id="main">

    <app-breadcrumbs/>

    <!-- ======= About Section ======= -->
    <section class="about">
        <div class="container">

            <div class="section-title">
                <h2>Acerca</h2>
                <p>Sobre Nosotros</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Expertos en gestión de recursos humanos
                    </p>
                    <ul>
                        <li><i class="bi bi-check-all"></i> Enfoque centrado en el cliente</li>
                        <li><i class="bi bi-check-all"></i> Compromiso con la calidad y la excelencia</li>
                        <li><i class="bi bi-check-all"></i> Capacidad de adaptación y respuesta rápida</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        En TalentForge, contamos con un equipo de consultores especializados en la gestión de talento,
                        comprometidos en brindar soluciones innovadoras que impulsen el crecimiento y el éxito de tu
                        empresa.
                        Nuestro enfoque personalizado y orientado a resultados nos distingue, permitiéndonos crear un
                        impacto
                        positivo en organizaciones de diversos sectores.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section  class="why-us section-bg">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("/img/why-us.jpg");' data-aos-delay="100">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                    <div class="content">
                        <h3>¿Por qué elegir a <strong>TalentForge</strong>?</h3>
                        <p>
                            En TalentForge, hemos transformado la gestión de recursos humanos en mucho más que una
                            función
                            empresarial; la hemos convertido en una ventaja competitiva. Desde nuestra fundación en
                            2012, hemos
                            cultivado un legado de éxito y colaboración con más de 200 empresas, desde startups hasta
                            grandes
                            corporaciones.
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse"
                                    data-bs-target="#accordion-list-1"><span>01</span>
                                    Nuestra Evolución <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Desde nuestros humildes comienzos como un equipo de profesionales apasionados
                                        por los recursos
                                        humanos, hemos crecido significativamente. Hoy en día, ofrecemos una amplia gama
                                        de servicios que
                                        abarcan consultoría estratégica, selección y reclutamiento, capacitación y
                                        desarrollo, evaluación
                                        del desempeño, planificación de sucesión y gestión del cambio organizacional.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                    class="collapsed"><span>02</span>
                                    Nuestros Logros <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Hemos alcanzado hitos significativos, incluyendo la exitosa implementación de
                                        programas de cambio
                                        organizacional, estrategias de reclutamiento que reducen el tiempo de
                                        contratación en un 30%, y la
                                        capacitación exitosa de más de 5,000 empleados en habilidades clave.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                    class="collapsed"><span>03</span>
                                    Innovación y Éxito Sostenido <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        En TalentForge, la innovación es parte integral de nuestro ADN. Estamos
                                        constantemente anticipando
                                        y respondiendo a las tendencias emergentes del mercado laboral para guiar la
                                        evolución de nuestros
                                        clientes hacia el éxito. Nos enorgullece adaptarnos continuamente para superar
                                        las expectativas y
                                        asegurar resultados sostenidos. </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Team Section ======= -->
    <section class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Equipo</h2>
                <p>Consulta nuestro equipo</p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" >
                        <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member">
                        <img src="/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member">
                        <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member">
                        <img src="/img/team/team-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main>