.row-mission {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: stretch;
    gap: 60px; /* Espaciado entre los items */
    flex-wrap: wrap;
  }


.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 450px;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content-mission {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    width: 320px;
    height: 450px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: #ff7c39;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content-mission::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom;
  
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content-mission::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  

  .content-mission .title-mission {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .content-mission .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content-mission .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content-mission .link:hover {
    text-decoration: underline;
  }
  
  .card:hover {
    transform: translate(0px, -16px);
  }
  
  .card:hover .content-mission::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .card:hover .content-mission::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  


  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    transition: all .3s;
  }

  .a-box:hover {
    transform: scale(1.2);
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #ed502e;
    font-size: 18px;
  }