<app-header />

<main class="main">
  <router-outlet></router-outlet>
  <df-messenger intent="WELCOME" chat-title="Botsito" agent-id="e0e5b222-ea53-4346-9b0d-d1c3bafd04a3" language-code="es"
    chat-icon="https://cdn-icons-png.flaticon.com/512/8943/8943377.png" chat-icon-height="50px" chat-icon-width="50px"
    chat-background-color="#ffffff" font-family="Arial, sans-serif" />
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <app-authentication></app-authentication>
      </div>
    </div>
  </div>
</main>
<app-footer />