<!-- ======= Hero Section ======= -->
<section id="hero">

    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <video autoplay muted loop class="video-background">
            <source src="/videos/background.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>TalentForge</span></h2>
              <p class="animate__animated animate__fadeInUp">En TalentForge, creemos en el poder transformador del
                talento humano. Nuestra consultoría se dedica a ayudar a individuos y organizaciones a descubrir,
                desarrollar y maximizar su verdadero potencial. Con soluciones personalizadas y un enfoque humano,
                estamos aquí para impulsar su crecimiento y éxito. Gracias por confiar en nosotros para ser parte de su
                viaje hacia la excelencia.</p>
              <a href="#services" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver servicios</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Acerca</h2>
          <p>Sobre Nosotros</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Expertos en gestión de recursos humanos
            </p>
            <ul>
              <li><i class="bi bi-check-all"></i> Enfoque centrado en el cliente</li>
              <li><i class="bi bi-check-all"></i> Compromiso con la calidad y la excelencia</li>
              <li><i class="bi bi-check-all"></i> Capacidad de adaptación y respuesta rápida</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              En TalentForge, contamos con un equipo de consultores especializados en la gestión de talento,
              comprometidos en brindar soluciones innovadoras que impulsen el crecimiento y el éxito de tu empresa.
              Nuestro enfoque personalizado y orientado a resultados nos distingue, permitiéndonos crear un impacto
              positivo en organizaciones de diversos sectores.
            </p>
            <a href="#" class="btn-learn-more">Aprender más</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("/img/why-us.jpg");'
            data-aos="zoom-in" data-aos-delay="100">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>¿Por qué elegir a <strong>TalentForge</strong>?</h3>
              <p>
                En TalentForge, hemos transformado la gestión de recursos humanos en mucho más que una función
                empresarial; la hemos convertido en una ventaja competitiva. Desde nuestra fundación en 2012, hemos
                cultivado un legado de éxito y colaboración con más de 200 empresas, desde startups hasta grandes
                corporaciones.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                    Nuestra Evolución <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Desde nuestros humildes comienzos como un equipo de profesionales apasionados por los recursos
                      humanos, hemos crecido significativamente. Hoy en día, ofrecemos una amplia gama de servicios que
                      abarcan consultoría estratégica, selección y reclutamiento, capacitación y desarrollo, evaluación
                      del desempeño, planificación de sucesión y gestión del cambio organizacional.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                    Nuestros Logros <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Hemos alcanzado hitos significativos, incluyendo la exitosa implementación de programas de cambio
                      organizacional, estrategias de reclutamiento que reducen el tiempo de contratación en un 30%, y la
                      capacitación exitosa de más de 5,000 empleados en habilidades clave.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                    Innovación y Éxito Sostenido <i class="bx bx-chevron-down icon-show"></i><i
                      class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      En TalentForge, la innovación es parte integral de nuestro ADN. Estamos constantemente anticipando
                      y respondiendo a las tendencias emergentes del mercado laboral para guiar la evolución de nuestros
                      clientes hacia el éxito. Nos enorgullece adaptarnos continuamente para superar las expectativas y
                      asegurar resultados sostenidos. </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Consulta nuestros servicios</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <app-lottie-animation [animationPath]="'/lottie/search_talent.json'"/>
              <h4><a href="">Gestión de talento</a></h4>
              <p>Ofrecemos servicios de consultoría en la gestión de talento, reclutamiento y retención del personal
                clave para el crecimiento de tu empresa.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <app-lottie-animation [animationPath]="'/lottie/org_dev.json'"/>
              <h4><a href="">Desarrollo organizacional</a></h4>
              <p>Nuestros expertos en recursos humanos te brindarán asesoría en el desarrollo de estructuras
                organizativas efectivas y en la implementación de estrategias para el crecimiento sostenible de tu
                empresa.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <app-lottie-animation [animationPath]="'/lottie/training.json'"/>
              <h4><a href="">Capacitación empresarial</a></h4>
              <p>Diseñamos programas de capacitación a medida para potenciar el talento y habilidades de tu equipo,
                impulsando el desarrollo y la productividad de tu empresa.</p>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experiencia</h2>
          <p>Nuestra experiencia nos respalda</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-clock"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Años de <strong>Experiencia</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-building"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Empresas</strong> asesoradas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Profesionales</strong> asesorados</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-speedometer"></i>
              <span data-purecounter-start="0" data-purecounter-end="95" data-purecounter-duration="1"
                class="purecounter">
                <p>%</p>
              </span>
              <p>Índice de<strong>satisfacción</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Equipo</h2>
          <p>Consulta nuestro equipo</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <img src="/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Trabajemos juntos</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Nuestra dirección</h3>
                  <p>Av. San Carlos, N°123. Huancayo - Perú</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bi bi-envelope"></i>
                  <h3>Escribenos</h3>
                  <p>info&#64;talentforge.com<br>contact&#64;talentforge.com/p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bi bi-telephone"></i>
                  <h3>Llámanos</h3>
                  <p>+51 900 503 593<br>+51 991 264 878</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombres completos"
                    required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su correo"
                    required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div>

        <app-maps/>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->