.mat-card-content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-survey-1-bar {
  margin-top: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.column-left,
.column-right {
  padding: 20px;
  overflow-y: auto;
}

.column-left {
  grid-column: span 1;
}

.column-right {
  grid-column: span 1;
}


.card-content {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal (horizontal) */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.content-wrapper {
  display: flex;
  align-items: center; /* Alinea los elementos dentro de content-wrapper verticalmente */
}

.icon-file {
  font-size: 32px;
  margin-right: 10px;
}

.download {
  margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 65% 35%;
  }
}