<main id="main">
  <app-breadcrumbs />

  <section class="services">
    <div class="custom-container-90">

      <div class="row content">
        <div class="col-lg-6">
          
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0">
          <mat-card class="card-survey-1" appearance="raised">
            <mat-card-header>
              <mat-card-title>Nivel de satisfacción del Clima laboral</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div style="width: 100%; height: 650px;">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions">
                </canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <mat-card class="card-survey-1-bar" appearance="raised">
        <mat-card-header>
          <mat-card-title>Clima laboral</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>

      
    </div>
  </section>

  <section class="services">
    <div class="custom-container-90">
      <div class="section-title">
        <h2>Encuestas Resueltas</h2>
        <p>Tabla de personas</p>
      </div>
      <app-table-users [surveyId]="'lIATWyLizRdCXZxOCbjY'"/>
      <app-table-users [surveyId]="'PpXbEMSDTnSaaryZnl3y'"/>
      <app-table-users [surveyId]="'M6JRYSj3qK4fF35y7U2Q'"/>
      <app-table-users [surveyId]="'QfkopBkUkpDAvKxTOd7J'"/>
    </div>
  </section>


</main>