<main id="main">
  <app-breadcrumbs />

  <section class="services">
    <div class="custom-container-90">
      <div class="section-title">
        <h2>Datos</h2>
        <p>CLIMA LABORAL</p>
      </div>

      <div class="grid-container">
        <div class="column-left">
          <app-table-users [surveyId]="'lIATWyLizRdCXZxOCbjY'"/>
        </div>

        <div class="column-right">
          <app-pie-chart [surveyId]="'lIATWyLizRdCXZxOCbjY'"/>
        </div>
      </div>

      <mat-card class="card-survey-1-bar" appearance="raised">
        <mat-card-header>
          <mat-card-title>CLIMA LABORAL</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="services">
    <div class="custom-container-90">
      <div class="section-title">
        <h2>Datos</h2>
        <p>SATISFACCIÓN LABORAL</p>
      </div>

      <div class="grid-container">
        <div class="column-left">
          <app-table-users [surveyId]="'PpXbEMSDTnSaaryZnl3y'"/>
        </div>

        <div class="column-right">
          <app-pie-chart [surveyId]="'PpXbEMSDTnSaaryZnl3y'"/>
        </div>
      </div>

      <mat-card class="card-survey-1-bar" appearance="raised">
        <mat-card-header>
          <mat-card-title>SATISFACCIÓN LABORAL</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </section>


  <section class="services">
    <div class="custom-container-90">
      <div class="section-title">
        <h2>Datos</h2>
        <p>EVALUACIÓN POR DESEMPEÑO</p>
      </div>

      <div class="grid-container">
        <div class="column-left">
          <app-table-users [surveyId]="'M6JRYSj3qK4fF35y7U2Q'"/>
        </div>

        <div class="column-right">
          <app-pie-chart [surveyId]="'M6JRYSj3qK4fF35y7U2Q'"/>
        </div>
      </div>

      <mat-card class="card-survey-1-bar" appearance="raised">
        <mat-card-header>
          <mat-card-title>EVALUACIÓN POR DESEMPEÑO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </section>

  <section class="services">
    <div class="custom-container-90">
      <div class="section-title">
        <h2>Datos</h2>
        <p>EVALUACIÓN POR COMPETENCIAS</p>
      </div>

      <div class="grid-container">
        <div class="column-left">
          <app-table-users [surveyId]="'QfkopBkUkpDAvKxTOd7J'"/>
        </div>

        <div class="column-right">
          <app-pie-chart [surveyId]="'QfkopBkUkpDAvKxTOd7J'"/>
        </div>
      </div>

      <mat-card class="card-survey-1-bar" appearance="raised">
        <mat-card-header>
          <mat-card-title>EVALUACIÓN POR COMPETENCIAS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </section>

</main>