table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 30%;
  }
  
  th {
    color: #ed502e;
    font-weight: 600;
  }


  mat-form-field{
    margin-top: 64px;
  }

  .mat-card-content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

